// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Layout geral
body{
    margin: 0;
    padding: 0;
    background: #eaeaea;
}

.layout-header{
    background: #000;
    width: 100%;
    
    section{
        color: #FFF;
        height: 40px;
        
        .layout-contact{
            text-decoration: none;
            color: #FFF;
            line-height: 40px;
            vertical-align: middle;            
        }
        
        .layout-perfil{
            background: #444;
            list-style: none;
            float: right;
            width: 150px;
            margin: 0;
            padding: 0;
            
            a{
                padding-left: 10px;
                color: #FFF;
                height: 40px;
                display: block;
                text-decoration: none;
                line-height: 40px;
                vertical-align: middle;       
            }
            
            ul{
                display: none;
            }
        }
    }
    
    .layout-brand{
        background: #FFF;
        width: 100%;
        height: 150px;
        line-height: 150px;
        text-align: center;
        font-size: 4em;
        
        a{
            color: #000;
            text-decoration: none;
        }
    }
}

// Paginação
.layout-pagination{
    text-align: center;
    
    ul.pagination{
        margin: 22px auto;
    }
}

// Footer
.layout-footer{
    background: #000;
    width: 100%;
    height: 60px;
    
    .layout-address{
        float: left;
        line-height: 60px;
        vertical-align: middle;
    }
    
    .layout-brand{
        float: right;
        line-height: 60px;
        vertical-align: middle;
    }
}

// Produtos
.orders{
    padding: 5px;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #FFF;
    
    .orders-primary{
        padding: 5px;
        background: #FFF;
        height: 112px;
        line-height: 112px;
    }
    
    .orders-information{
        padding: 5px;
        background: #EEE;
        height: 112px;
        line-height: 112px;
    }
    
    .orders-more{
        background: #EEE;
        height: 112px;
        line-height: 112px;
        vertical-align: center;
        text-align: center;
        a{
            text-decoration: none;
            height: 30px;
            font-size: 14px;
            color: #FFFFFF;
            padding: 5px 10px;
            background: #656565;
            transition: all .1s ease-in;
            box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
        }
        
        a:hover{
            background: #888888;
        }
    }
    
    .order-more-information{
       display: none;
       clear: both;
       
        fieldset{
            border-top: 10px solid #DDD;
        
            legend{
                width: inherit;
                padding: 0 10px;
                margin-bottom: 0px;
            }
        }
        
        .row{
            margin: 10px;
        }
    }
    
    // Coluna do dinheiro
    .orders-price{
        dl{
            width: 80%;
        }
    
        dt{
            float: left;
            width: 50%;
            font-weight: inherit;
        }
        dd{
            text-align: right;
            float: right;
            width: 50%;
            font-weight: inherit;
        }
        
        .last{
            border-top: 2px solid #000;
        }
    }
    
    // Coluna de pagamento
    .orders-pay{
    
        .orders-button{
            width: 100%;
            text-align: center;
            height: 60px;
            vertical-align: middle;
            line-height: 60px;
        }
        
        a{
            text-decoration: none;
            height: 30px;
            font-size: 14px;
            color: #FFFFFF;
            padding: 10px 20px;
            background: #75bd60;
            transition: all .1s ease-in;
            box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
        }
        
        a:hover{
            background: #80ce6a;
        }
    }
}

// Formas de pagamentos
#pageModal{
    h2{
        margin: 0;
        clear: both;
        width: 100%;
    }
    
    a.layout-options-pay{
        display: block;
        float: left;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
    }
    
    a.layout-options-pay:hover {
        background: yellow;
        border-radius: 10px;
    }
}

// Preloader
BODY.loading{
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20000;
    }

    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;

        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
        z-index: 1001;
    }

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(34,34,34,.4);
        z-index: 1000;
    }
}

// Layout credit Card
.layout-credit-card{
    margin: 10px;
}